
  @import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
.main{
    background-image: url("assets/image/bg.jpg");
    background-position: center center;
    background-size: (1000px, 100vw);
    background-repeat:no-repeat;
    height: 95vh;
    position: relative;
}

.main .box{
    height: 95vh;
    width: 100%;
    opacity: 0.70;
    position: absolute;
    top:0;
    background-color: black;
}

nav{
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 75px;
}

nav img{
    color:red;
    width: 150px;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;

}
.text
{
    font-family: 'Martel Sans', sans-serif;
    height:calc(100% - 75px);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 24px;
    padding: 0 30px;
}

.text> :first-child{
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}
.text> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.text> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.separtion{
  height: 8px;
  background-color: rgb(56, 56, 56);
}

.btn{
    padding: 3px 8px;
    font-weight: bold;
    background-color: white;
}

.btn-red{
    background-color: red;
    color: white;
    padding:3px, 24px;
    font-size: 25px;
    border-radius:4px;
}
.btn-red-sm{
    background-color: red;
    color: white;
}